.footer{
    font-size: 1.3rem;
    background-color: whitesmoke;
    padding-top: 3rem;
}
.footer_container{
    
}
.footer_letter{
    display: flex;
    max-width: 100%;
    height: 10rem;
    background-color: whitesmoke;
    padding: 0 8rem;
    width: 1200px;
    margin: 0 auto;
}
.letter-icon{
}
.letter-icon img{
    width: 16rem;
    max-width: 100%;
}

.letter-decripsion{
    padding-top: 4rem;
    padding-left: 3rem;
    font-size: 1.4rem;
}
.letter-form{
    padding-top: 4rem;
    padding-left: 3rem;
    display: flex;
    width: 40rem;
}   
.input-wrapper{
    background-color: #fff;
    width: 80%;
    height: 3.4rem;
    border: 0.1rem solid #ee4d2d;
    border-radius: 0.5rem;
    box-sizing: border-box;
    
}
.input-wrapper input{
    width: 94%;
    height: 100%;
    margin-left: 1rem;
    border-radius: 0.5rem;
}
.input-wrapper input:focus{
    outline: 0;
}
.btn-registerletter{
    cursor: pointer;
    height: 3.4rem;
    margin-left: 0.5rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 0.5rem;
}
.btn-registerletter:hover{
    opacity: 0.7;
}
/*
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/
.footer_information{ 
   border-bottom: 0.1rem solid rgba(0,0,0,0.1);
   background-color: #fff;
}
.information_container{
    line-height: 2.2rem;
    display: flex;
    justify-content: space-between; 
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 3.5rem 0;
}

.information_container a{
    text-decoration: none;
    display:block;
    color: rgb(51, 51, 51);
    font-size: 1.2rem;
}
.information-items{
    flex-basis: 18%;
    min-width: 20rem;
}
.information_container .information-items:nth-child(1)
{
    flex-basis: 22%;
}
.hotline{
    color: rgb(196, 1, 26);
    font-size: 1.4rem;
    font-weight: 700;
}
.hotline a{
    color: rgb(196, 1, 26);
    display: inline;
    font-weight: 700;
}
.hotline a:hover{
    opacity: 0.7;
}
.hotline span{
    display: block;
    color: initial;
    font-size: 1.2rem;
    font-weight: normal;
}
.information-items p>a{
    display: inline;
}
.information-items h4{
    margin-bottom: 1rem;
}
.information-charge{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}
.information-charge img{
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
}
.information-connect{
    display: flex;
}
.information-connect img{
    margin: 0 1rem 3.5rem 0; 
}
.information-download img{
    width: 13.4rem;
    max-width: 100%;
}
/*
--------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------
*/
.footer_address{
    padding: 2.5rem 0;
}
.address_container{
    display: flex;
    justify-content: center;
}
.address-info{
    text-align: center;
}
.address-info i{ 
    color:#ee4d2d ;
}
.address-info span{ 
    padding-left: 0.5rem;
    font-weight: 700;
}
.small-text{
    font-size: 1.1rem;
    font-style: italic;
}
.footer_copyright{
    background-color: whitesmoke;
}