.home_page{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding-top: 14rem;
    border-bottom: 0.3rem solid #ee4d2d;
}
.content_container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

/*
------------------------------------------------------------------------------------------------
Slide
------------------------------------------------------------------------------------------------
*/
.slideshow_container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 22rem;
}

.slideshow_wrapper{
    width: 66%;
    height: 100%;
    position: relative;
}

.mySlides{
    width: 100%;
    height: 100%;
    display: none;
}
.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev{
    top:40%;
}
.next{
    top: 40%;
    right: 0;
}
.prev,.next{
    color:white;
    font-size: 2.5rem;
    padding: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
    position: absolute;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
  }
.dot_wrapper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.slideshow-banner{
    width: 33%;
    
}
.slideshow-banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/*
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------
*/
.utilities_container{
    background-color: #fff;
    margin-top: 2rem;
}
.utilities_wrapper{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.utilities_container a{
    text-decoration: none;
    text-align: center;
    color:rgb(0,0,0);
    font-size: 1.3rem;
}
.utilities-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.utilities_container img{
    height: 4.5rem;
    width: 4.5rem;
    display: block;
}
div.utilities_container > div > a:nth-child(5) > div > img
{
    object-fit: cover;
}
/*
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
*/
.home_banner_container{
    margin-top: 2rem;
}

.home_banner_wrapper img{
    width: 100%;
}
.catalog_container{
    margin-top: 2rem;
    background-color: #fff;
}
/*
-----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
*/
.catalog_title{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    height: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    text-indent: 2rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
}
.catalog_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog_wrapper a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1.3rem;
    text-align: center;
    flex-basis: 12.5%;
    display: flex;
    justify-content: center;
}
.catalog-item{
    width: 12rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog-item div{
    height: 80%;
}
.catalog-item div img{
    width: 100%;
}
div.catalog_container > div > a:nth-child(3) > div > div > img {
    width: 75%;
    height: 70%;
    padding: 13%;
}
div.catalog_container > div > a:nth-child(15) > div > div > img{
    width: 100%;
    height: 68%;
    padding: 16% 0;
}
.catalog-item span{
   display: block;
   height: 20%;
   width: 100%;
   text-transform: capitalize;
}

/*
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
*/

.home_banner2_container{
    margin-top: 2rem;
}
.home_banner2_wrapper{
    display: flex;
    justify-content: space-between;
}
.banner2-items{
    flex-flow: 1;
    flex-basis: 32%;
}
.banner2-items img{
    border-radius: 2rem;
    width: 100%;
}
/*
--------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------
*/
.itemsrecommend_container{
    margin-top: 2rem;
}
.itemsrecommend-title{
    font-size: 1.5rem;
    color: #ee4d2d;
    text-transform: uppercase;
    height: 5rem;
    line-height: 5rem;
    background-color: #fff;
}

.itemsrecommend-title span{
    text-indent: 3rem;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 15%;
    border-bottom: 0.5rem solid #ee4d2d;
    box-sizing: border-box;
}

.itemsrecommend_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.itemsrecommend_wrapper a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(0,0,0);
    flex-basis: 16%;
    margin: 0.5rem 0;
}
.items-card{
    background-color: #fff;
    max-height: 40rem;
}

.items-card:hover{
    border: 0.1rem solid #ee4d2d;
}
.items-img{
    height: 70%;
}

.items-img img{
    max-width: 100%;
    text-align: center;
}
.star-checked{
    color: orange;
}

.items-price{
    font-size: 1.5rem;
    font-weight: 600;
}
.items{
    display: flex;
}
.badge-service{
    width: 5rem;
}
.badge-under-price{
    width: 12rem;
}
.badge-benefits{
    width: 7rem;
}

.badge-service img{
    max-width: 100%;
}
.badge-under-price img{max-width: 100%;}
.badge-benefits img{max-width: 100%;
width: 1.8rem;}
.badge-additional-info img{max-width: 100%;}

.moreview{
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}
.moreview a{ 
    width: 22rem;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #fff;
    color: #ee4d2d;
}
.moreview a:hover{
    background-color: rgba(0,0,0,0.1);
}